@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';

body {
  background-color: $favColor !important;
}

.project-view-container{
  .title-text{
    text-align: center;
    color: $LogoBlue;
  }
}

.project-card-view{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
  .project-card{
      max-width: 20rem;
      border-radius: 3rem;
      border-width: .15rem;
      border-color: $LogoGray;
      margin: .5rem;
      .project-image{
          border-top-left-radius: 3rem;
          border-top-right-radius: 3rem;
      }
      .project-card-link-group{
          display: flex;
          justify-content: center;
          .project-link-button{
              margin: .25rem;
          }
      }
      .project-card-button-group{
        display: flex;
        justify-content: center;
        .card-btn{
          margin: .25rem;
        }
      }
      .project-card-hidden-text{
        display: none;
      }
  }
}

.contact-info-view-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  .title-text{
    text-align: center;
    color: $LogoBlue;
  }
}

.contact-info-card{
  display: flex;
  max-width: 20rem;
}

.navbar-top{
  .navbar-top-links{
    display: flex;
    align-items: center;
    .hidden-link{
      display: none;
    }
  }
}

.btm-nav-bar{
  max-width: 19rem;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: fixed;
  .btm-nav-links-group{
      display: flex;
      flex-direction: row;
      align-items: center;
      .btm-nav-link{
        margin: .25rem;
        font-size: .9rem;
        color: $LogoGray;
      }
  }
}

.signIn-view{
  display: flex;
  flex-direction: column;
  align-items: center;
  .signIn-h1{
    color: $LogoBlue;
  }
    .signIn-view-logo{
      max-width: 25rem;
      margin: 1rem;
    }
    .signIn-button{
      display: flex;
      justify-content: center;
      width: 10em;
    }
}

.new-project-view-container{
  text-align: center;
  .title-text{
    color: $LogoBlue;
  }
}
.edit-project-view-container{
  text-align: center;
  .title-text{
    color: $LogoBlue;
  }
}

.project-form-conatiner{
  display: flex;
  flex-direction: column;
  align-items: center;
  .project-form-form{
    border: $LogoBlue solid .1rem;
    max-width: 30rem;
    padding: 1rem;
    .form-input{
      margin-left: 5rem;
    }
    .form-btn{
      max-width: 7rem;
    }
  }
}

.home-view{
  display: flex;
  flex-direction: column;
  align-items: center;
  .title-text{
    text-align: center;
    color: $LogoBlue;
  }
  .bio-text-container{
    .bio-text-title{
      text-align: center;
    }
    .bio-text-body{
      max-width: 25rem;
    }
  }
}

.tech-cards-view{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .tech-logo-card{
    max-width: 5rem;
    margin: .9rem;
    text-align: center;
    background-color: $favColor;
    border: none;
    .project-card-hidden-text{
      display: none;
    }
  }
}